/*base stuff */
body {
    background-color: #fdf0f2; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.helpstuff {
    background: white;
    padding: 40px;
    max-width: 600px;
    width: 90%;
    text-align: center;
}


h1 {
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 30px;
}

.helpstep {
    text-align: left;
    margin-bottom: 25px;
    padding-left: 15px;
}

.helpstep h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}



.backbutton {
    margin-top: 30px;
    padding: 12px 25px;
    background-color: #ff8fa3;
    color: white;
}

.backbutton:hover {
    background-color: #ff758f;
}