body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* styling for text */
.center-text {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.center-text h1 {
    font-size: 3rem;
    margin: 0;
}

.center-text h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.center-text h3 {
    font-size: 1.3rem;
    margin: 0;
}

/* Date selector (watch a video how to do this)*/
.center-text {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
    margin-top: 50px;      
}

#birthday {
    padding: 10px;
    font-size: 1.1rem;
    border: 2px solid #ffc0cb; 
    border-radius: 8px;
    margin: 15px 0;        
    cursor: pointer;
}

#zodiac-info {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    min-height: 1.6em;     
}

/* Image animations and clickable */
.image-grid img {
    cursor: pointer;
    transition: transform 0.2s; 
}

.image-grid img:hover {
    transform: scale(1.1); 
}

/* images */
.image-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Row styling */
.row {
    display: flex;
    align-items: center;
}

/* top row */
.row-two-images {
    justify-content: space-between;
    padding: 0 40px;
}

/* 2nd and 3rd row */
.row-five-images {
    justify-content: space-evenly;
}

/* image dimensions */
.row img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
