body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* header */
.text {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.text h1 {
    font-size: 3rem;
    margin: 0;
}

.text h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.text h3 {
    font-size: 1.3rem;
    margin: 0;
}

/* Date selector (watch a video how to do this)*/
.text {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
    margin-top: 50px;      
}

#birthday {
    padding: 10px;
    font-size: 1.1rem;
    border: 2px solid #ffc0cb; 
    border-radius: 8px;
    margin: 15px 0;        
    cursor: pointer;
}

#zodiac-stuff {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    min-height: 1.6em;     
}

/* Image stuff */
.images img {
    cursor: pointer;
    transition: transform 0.2s; 
}

.images img:hover {
    transform: scale(1.1); 
}


.images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.row {
    display: flex;
    align-items: center;
}


.toprow {
    justify-content: space-between;
    padding: 0 40px;
}


.bottomrows {
    justify-content: space-evenly;
}


.row img {
    width: 150px;
    height: 150px;
}
